# Submission

---

## 1. Building business-photos correspondence
We build a a hash table to easily access the photos of a given business. This information is enclosed in the `test_photo_to_biz.csv` file.

In [1]:
import numpy as np
import pandas as pd
from common import *

# Photo id to business id for the test dataset
photo2biz = pd.read_csv('data/test_photo_to_biz.csv', header = 0, names = ['photo','business'])

# First rows
photo2biz.head(n=10)

Using TensorFlow backend.

    photo business
0  317818    003sg
1   30679    003sg
2  455084    003sg
3  371381    003sg
4   86224    003sg
5   36076    003sg
6   46999    003sg
7   74896    003sg
8  169399    003sg
9  110581    003sg

In [2]:
biz2photos = photo2biz.groupby('business')['photo'].apply(list)

biz2photos.head(n=10)

business
003sg    [317818, 30679, 455084, 371381, 86224, 36076, ...
00er5    [220529, 239591, 398090, 315725, 444173, 35412...
00kad    [96324, 333815, 101340, 398801, 465446, 123159...
00mc6    [219849, 327514, 189070, 366342, 227137, 15566...
00q7x    [207951, 44259, 25772, 256585, 375771, 284229,...
00v0t    [98656, 289068, 356683, 356072, 384160, 257167...
00y7p    [354534, 91842, 264321, 337598, 425924, 318190...
019fg    [329682, 293765, 151022, 310278, 214887, 41965...
019r1    [235703, 330900, 97541, 334820, 318846, 70608,...
01i5j    [159653, 186559, 210259, 104371, 230924, 39826...
Name: photo, dtype: object

In [3]:
biz2photos = biz2photos.to_dict()
biz = list(biz2photos.keys())

print('There are %d businesses in the test dataset.' % len(biz))

There are 10000 businesses in the test dataset.